
<!DOCTYPE html>
<html lang="en">
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    {{ attach_library('supersite/global-styling') }}
  </head>
  <body>
  <h1>{{ my_custom_var }}</h1>
  
    <header>{{ page.header }}</header>
    <main>{{ page.content }}</main>
    <aside>{{ page.sidebar }}</aside>
    <footer>{{ page.footer }}</footer>
  </body>
</html>
